<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Password</title>
</head>
<body>

    <div class="container text-center">
        <h1>Welcome to Password Web</h1> <br>
        <h2>Your Password Is:</h2>
        <h3 class="alert alert-success">{{ password }}</h3> <br>
        <a href="{% url 'home' %}" class="btn btn-info">Go To Home Page</a>
    </div>

</body>
</html>